@import 'fonts'

// VARIABLES START

$color-fill: #E8C300
$filter: rbga(0, 0, 0, .6)
// VARIABLES END

// RESET START

body
  padding: 0
  margin: 0
  font-family: 'Open Sans'
  font-size: 14px
  font-weight: 400

  overflow-x: hidden

a
  text-decoration: none
  color: #ffffff

ul
  list-style-type: none

h1, h2, h3, ul, p
  padding: 0
  margin: 0


// RESET END

// GLOBAL START

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

.container
  position: relative

  max-width: 1440px
  width: 100%
  padding-right: 80px
  padding-left: 80px
  margin: 0 auto
  @media screen and (max-width: 1024px)
    padding-right: 20px
    padding-left: 20px

section:not(.events):not(.map), .header
  margin-bottom: 100px
  @media screen and ( max-width: 768px )
    margin-bottom: 60px
  @media screen and ( max-width: 480px )
    margin-bottom: 40px
    


.grid
  &-container
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: 80px
    @media screen and ( max-width: 680px )
      grid-template-columns: 1fr
      row-gap: 60px
      
  &-left,
  &-right
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.heading
  text-align: center
  font-family: 'Open Sans'
  font-weight: 700
  font-size: 12px
  letter-spacing: 0.5em
  @media screen and ( max-width: 768px )
    font-size: 10px

.title
  position: relative

  font-family: 'Banny Round'
  font-weight: 700
  line-height: 125%
  font-size: 36px
  text-align: center
  @media screen and ( max-width: 768px )
    font-size: 32px
    

  &::after
    content: ''
    position: absolute
    bottom: -15px
    left: calc(50% - 30px)

    display: block
    height: 5px
    width: 60px

    background-color: $color-fill
    border-radius: 5px

.subtitle
  font-weight: 700
  font-size: 18px
  text-align: center
  @media screen and ( max-width: 768px )
    font-size: 14px

.text
  text-align: center
  @media screen and ( max-width: 768px )
    font-size: 12px

.accent
  color: $color-fill

.caption
  font-size: 12px
  // line-height: 1.2em
  text-align: center
  color: rgba(51, 51, 51, 0.5)

.bold
  font-weight: 700

.color_light
  color: #ffffff

.picture
  position: relative
  
  max-width: 475px
  max-height: 475px
  
  &-decor
    &::after
      content: ''
      position: absolute
      top: 25%
    
      height: 250px
      width: 250px
  
      background: radial-gradient(transparent, rgba(0, 0, 0, 0.1))  
      border: 20px solid $color-fill
      border-radius: 5px
      box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.1)

      @media screen and (max-width: 1400px)
        display: none
        
    &_right::after
      right: -25%
    &_left::after
      left: -25%
  
.img
  object-fit: cover
  height: 100%
  width: 100%
  overflow: hidden

  border-radius: 5px
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5)

.button
  font-size: 12px
  font-weight: 700
  line-height: 60px
  text-align: center

  border-radius: 5px
  cursor: pointer
  &_o
    border: 1px solid rgba(255, 255, 255, 0.5)
    background-color: transparent
  &_fill
    color: #fff
    background-color: $color-fill
    border: none
  @media screen and ( max-width: 768px )
    line-height: 40px
    font-size: 10px

.input
  padding-left: 10px

  line-height: 60px
  color: rgba(51, 51, 51, 0.5)
  
  background: #E5E5E5
  border-radius: 5px
  outline: none
  border: none
  &::placeholder
    color: rgba(51, 51, 51, .5)
    opacity: 1

  @media screen and ( max-width: 768px )
    line-height: 40px

.scroll-btn
  width: 60px
  height: 60px

  border-radius: 50%
  border: 1px solid rgba(255, 255, 255, 0.2)


  &__inner
    height: 40px
    width: 40px

    font-size: 20px
    line-height: 40px
    color: #333333

    background-color: #ffffff
    border-radius: 50%
    margin: 10px auto

.hover
  &_social:hover
    color: $color-fill
    border: 1px solid $color-fill
  &_scroll:hover
    border: 1px solid $color-fill



// GLOBAL END

// COMMON START

.about,
.team,
.booking,
.specialties,
.menu,
.events,
.contact
  &__title
    margin-bottom: 30px
  &__subtitle
    margin-bottom: 20px
  &__heading
    margin-bottom: 40px

.contact,
.menu
  &__subtitle
    margin-bottom: 50px

.team,  
.specialties,
.events
  padding: 40px 0


// COMMON END


// MOBILE START

.mobile
  position: fixed
  left: 0
  top: 0
  z-index: 5
  overflow-y: auto

  // display: none
  height: 100vh
  width: 100%

  transition: all .2s

  @media screen and ( max-width: 768px )
    visibility: hidden
    transform: translateX(100%)

  &__menu
    overflow-y: auto

  background-color: #333333

  &_show
    @media screen and ( max-width: 768px )
      transform: translateX(0)
      visibility: visible
  
  &__btn
    position: absolute
    right: 0
    z-index: 10

    display: none
    height: 30px
    width: 40px
    margin-left: 20px 
    margin-top: 25px

    cursor: pointer

    @media screen and (max-width: 375px)
      margin-top: 10px

    @media screen and (max-width: 768px)
      display: block

  &__social
    margin-bottom: 20px
    text-align: center
    &-link
      display: inline-block
      padding: 5px
      margin-right: 10px
      margin-left: 10px

  &__line
    position: absolute
    left: 0
    top: 14px

    height: 2px
    width: 40px

    background-color: #ffffff

    transition: .2s ease-out

    &:first-child
      top: 0

    &:last-child
      top: 28px
    
    &_active
      &:first-child
        transform: translateY(14px) rotate(-45deg)
      &:nth-child(2)
        transform: rotate(45deg)
      &:last-child
        transform: translateY(-14px) rotate(45deg)
        
      

// MOBILE END


// HEADER START

.header
  min-height: 100vh
  width: 100%

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/header-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: 50%

  color: #ffffff

  &__top
    position: relative
    display: flex
    justify-content: space-between


  &__nav
    width: 100%
    max-height: 100px

    display: block

    @media screen and (max-width: 768px)
      display: none

  &__logo
    margin: 25px 35px 0
    @media screen and (max-width: 768px)
      margin: 25px auto 0

    @media screen and (max-width: 375px)
      margin-top: 10px

  &__link
    display: inline-block
    padding: 20px
    font-size: 12px
    font-weight: 700
    @media screen and (max-width: 1024px)
      padding-right: 10px
      padding-left: 10px
    @media screen and ( max-width: 768px )
      width: 90%
    

  &__list
    display: flex
    justify-content: space-between
    width: 100%
    height: 100px

    &_mobile
      flex-direction: column
      height: auto
      overflow: auto
  
  &__item
    width: 100%
    max-width: 130px
    text-align: center
    height: 100%
    padding-top: 20px
    padding-bottom: 20px

    @media screen and ( max-width: 480px )
      padding-top: 10px
      padding-bottom: 10px

    @media screen and ( max-width: 768px )
      max-width: 100%
     
  &__content
    display: flex
    justify-content: space-between
    padding-top: 150px
    padding-bottom: 80px

    @media screen and (max-width: 1024px)
      padding-top: 75px

    @media screen and (max-width: 480px)
      flex-flow: column-reverse wrap
      padding-top: 30px
      padding-bottom: 20px

  &__schedule,
  &__social
    max-width: 75px
    flex-basis: 100%

  &__schedule
    display: flex
    flex-direction: column
    justify-content: center

    font-size: 12px
    font-weight: 700
    @media screen and (max-width: 480px)
      min-width: 100%
      margin-top: 20px

    &-text
      margin: 0
      white-space: nowrap
      writing-mode: vertical-rl
      transform: rotate(180deg)

      @media screen and (max-width: 480px)
        transform: rotate(0deg)
        writing-mode: horizontal-tb
        white-space: normal
        text-align: center




  
  &__social
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    @media screen and (max-width: 480px)
      display: none


    &-link
      display: block
      height: 60px
      width: 60px
      margin-top: 20px
      margin-bottom: 20px

      text-align: center
      line-height: 60px

      border: 1px solid #ffffff
      border-radius: 50%

    &-icon
      font-size: 20px

  &__main
    flex-basis: auto
    text-align: center

  &__title
    position: relative

    font-family: 'Banny Round'
    font-size: 96px
    line-height: 125%
    font-weight: 400
    margin: 0
    margin-bottom: 45px

    @media screen and (max-width: 768px)
      font-size: 76px

    @media screen and (max-width: 375px)
      font-size: 56px
      margin-bottom: 30px


    &::after
      content: ''
      position: absolute
      bottom: -15px
      left: calc(50% - 30px)

      display: block
      height: 5px
      width: 60px

      background-color: $color-fill
      border-radius: 5px

  &__subtitle
    font-weight: 700
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.5em
    margin-top: 0
    margin-bottom: 5px

    @media screen and (max-width: 375px)
      font-size: 8px

  &__buttons
    margin-bottom: 90px
    @media screen and (max-width: 480px)
      margin-bottom: 0

  &__button
    display: inline-block
    // height: 60px
    width: 200px
    margin-right: 20px
    margin-left: 20px
    margin-bottom: 15px

  &__scroll
    display: inline-block
    @media screen and (max-width: 480px)
      display: none

// HEADER END

// TEAM START

.team
  padding-bottom: 100px

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/team-bg.jpg')
  background-repeat: no-repeat
  background-size: cover

  @media screen and ( max-width: 768px )
    padding-bottom: 40px
    

// TEAM END

// BOOKING START

.booking
  &__form
    max-width: 565px
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 10px

    // transition: visibility 0s, opacity 0.5s linear    

    @media screen and ( max-width: 375px )
      display: none
      // visibility: hidden
      // opacity: 0

  &__input
    @media screen and ( max-width: 375px )
      grid-column: span 2
      
    
  &__submit
    grid-column: span 2

  &__caption
    margin-top: 40px

  &__unwrap
    margin-bottom: 20px
    




// BOOKING END

// SPECIALTIES START

.specialties
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/specialties-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: 50%

// SPECIALTIES END

// SLIDER START

.slider
  &__indicators
    margin-top: 45px
    text-align: center

  &__indicator
    display: inline-block
    height: 10px
    width: 10px

    background-color: #ffffff
    cursor: pointer
    border-radius: 50%
    opacity: .5
    &:not(:first-child)
      margin-left: 20px
    &_active
      opacity: 1

// SLIDER END

// MENU START

.menu
  &__subtitle
    margin: 0 auto 50px
    max-width: 550px
  
  &__download
    display: none
    @media screen and ( max-width: 610px )
      display: block      

  &__categories
    display: flex
    justify-content: center
    margin-bottom: 50px
    @media screen and ( max-width: 610px )
      display: none
    
  &__category
    display: inline-block
    max-width: 120px
    width: 100%

    color: #333333
    font-weight: 700
    font-size: 12px
    line-height: 50px
    text-align: center

    &:not(:last-child)
      border-right: 1px solid rgba(51, 51, 51, .2)

  &__grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px 90px
    @media screen and ( max-width: 610px )
      display: none
    
    &-item
      display: grid
      grid-template-columns: 3fr 1fr
  
  &__position,
  &__price
    font-family: 'Banny Round'
    font-size: 18px
    font-weight: 700

  &__description
    grid-column: span 2
    font-size: 12px
    color: rgba(0, 0, 0, .5)

// MENU END

// EVENTS START

.events
  position: relative

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/specialties-bg.jpg')
  background-position: 50%
  background-size: cover

  &__caption
    margin-top: 40px
    margin-bottom: 20px

  &__event
    position: absolute
    top: 0

    padding-top: 20px
    height: 100%

    color: #ffffff
    font-size: 24px
    line-height: 80px
    font-family: 'Banny Round'
    writing-mode: vertical-lr
    
    background-color: #000000
    border-radius: 0 5px 5px 0

    &_left
      left: 0
      transform: rotate(180deg)

    &_right
      right: 0


// EVENTS END

// GALLERY START

.gallery
  overflow-x: hidden
  white-space: nowrap
  &__img
    max-width: 360px
    max-height: 360px
    width: 100%
    height: auto

// GALLERY END

// CONTACT START

.contact
  &__subtitle
    max-width: 550px
    margin-right: auto
    margin-left: auto
  &__contacts
    display: flex
    justify-content: space-around
    align-items: center
    @media screen and ( max-width: 1366px )
      flex-wrap: wrap
  &__contact
    @media screen and ( max-width: 1366px )
      white-space: nowrap

    &:nth-child(2)
    margin: 10px 10px 
  &__contact > a
    color: rgba(51, 51, 51, 0.5)

  &__unwrap
    margin-bottom: 20px


  &__form
    display: grid
    gap: 10px
    grid-template-columns: repeat(12, 1fr)

    @media screen and ( max-width: 375px )
      display: none

  &__input
    grid-column: span 4
    @media screen and ( max-width: 520px )
      grid-column: span 12

  &__textarea
    grid-column: span 12

    resize: none

  &__contacts, &__button
    grid-column: span 6
    @media screen and ( max-width: 860px )
      grid-column: span 12

// CONTACT END

// MAP START

.map
  min-height: 575px

  background: url('img/map.jpg') no-repeat
  background-position: 50%
  background-size: cover

// MAP END

// FOOTER START

.footer
  background-color: rgba(0, 0, 0, .9)
  text-align: center

  &__copyright
    color: rgba(255, 255, 255, .5)
    font-size: 12px
    line-height: 100px
    margin: 0

    @media screen and ( max-width: 768px)
      line-height: 60px
      font-size: 11px

    @media screen and ( max-width: 768px)
      line-height: 40px
      font-size: 10px

// FOOTER END


// JS-STYLES START

.display
  &_none
    display: none
  &_grid
    display: grid

.overflow
  &_hidden
    overflow: hidden

.size_null
  height: 0
  width: 0
    
// JS-STYLES END

// UNWRAP START

.unwrap
  &__label
    position: relative
  
    display: none
    width: 100%
  
    @media screen and ( max-width: 375px )
      display: block
      
    &::after
      position: absolute
      bottom: -20px
      left: calc(50% - 10px)
  
      content: ''
      
      display: block
      border: 10px solid transparent
      border-top: 10px solid $color-fill
  
  &__checkbox
      display: none
    
  &__checkbox:checked ~ &__target
    display: grid
    // visibility: visible
    // opacity: 1

// UNWRAP END