@import 'fonts'

// VARIABLES START

$color-fill: #E8C300
$filter: rbga(0, 0, 0, .6)
// VARIABLES END

// RESET START

body
  padding: 0
  margin: 0
  font-family: 'Open Sans'
  font-size: 14px
  font-weight: 400

a
  text-decoration: none
  color: #ffffff

ul
  list-style-type: none
  padding: 0
  margin: 0

// RESET END

// GLOBAL START

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

.container
  max-width: 1440px
  width: 100%
  padding-right: 80px
  padding-left: 80px
  margin: 0 auto

section, .header
  margin-bottom: 78px


.grid
  &-container
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: 80px
  &-left,
  &-right
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.heading
  text-align: center
  font-family: 'Open Sans'
  font-weight: 700
  font-size: 12px
  letter-spacing: 0.5em

.title
  position: relative

  font-family: 'Banny Round'
  font-weight: 700
  line-height: 125%
  font-size: 36px
  text-align: center

  &::after
    content: ''
    position: absolute
    bottom: -15px
    left: calc(50% - 30px)

    display: block
    height: 5px
    width: 60px

    background-color: $color-fill
    border-radius: 5px

.subtitle
  font-weight: 700
  font-size: 18px
  text-align: center

.text
  text-align: center

.caption
  font-size: 12px
  line-height: 12px
  text-align: center
  color: rgba(51, 51, 51, 0.5)

.bold
  font-weight: 700

.color_light
  color: #ffffff

.picture
  position: relative
  
  max-width: 475px
  max-height: 475px
  
  &-decor
    &::after
      content: ''
      position: absolute
      top: 25%
    
      height: 250px
      width: 250px
  
      background: radial-gradient(transparent, rgba(0, 0, 0, 0.1))  
      border: 20px solid #E8C300
      border-radius: 5px
      box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.1)
    &_right::after
      right: -25%
    &_left::after
      left: -25%
  
.img
  object-fit: cover
  height: 100%
  width: 100%
  overflow: hidden

  border-radius: 5px
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5)

.button
  font-size: 12px
  font-weight: 700
  line-height: 60px
  text-align: center

  border-radius: 5px
  cursor: pointer
  &_o
    border: 1px solid rgba(255, 255, 255, 0.5)
    background-color: transparent
  &_fill
    color: #fff
    background-color: $color-fill
    border: none

.input
  padding-left: 10px

  line-height: 60px
  color: rgba(51, 51, 51, 0.5)
  
  background: #E5E5E5
  border-radius: 5px
  outline: none
  border: none
  &::placeholder
    color: rgba(51, 51, 51, .5)
    opacity: 1

.scroll-btn
  width: 60px
  height: 60px

  border-radius: 50%
  border: 1px solid rgba(255, 255, 255, 0.2)


  &__inner
    height: 40px
    width: 40px

    font-size: 20px
    line-height: 40px
    color: #333333

    background-color: #ffffff
    border-radius: 50%
    margin: 10px auto

  


// GLOBAL END

// COMMON START

.about,
.team,
.specialties,
.menu
  &__title
    margin-bottom: 10px
  &__subtitle
    margin-bottom: 20px
  &__heading
    margin-bottom: 40px

.team,  
.specialties
  padding-top: 30px


// COMMON END

// HEADER START

.header
  height: 100vh
  width: 100%

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/header-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: 50%

  color: #ffffff

  &__top
    display: flex
    justify-content: space-between


  &__nav
    width: 100%
    max-height: 100px

  &__logo
    margin: 25px 35px 0

  &__link
    display: inline-block
    padding: 20px
    font-size: 12px
    font-weight: 700
    

  &__list
    display: flex
    justify-content: space-between
    width: 100%
    height: 100px
  
  &__item
    width: 100%
    max-width: 130px
    text-align: center
    height: 100%
    padding-top: 20px
    padding-bottom: 20px
     
  &__content
    display: flex
    justify-content: space-between

  &__schedule,
  &__social
    max-width: 215px
    flex-basis: 100%

  &__schedule
    display: flex
    flex-direction: column
    justify-content: center

    font-size: 12px
    font-weight: 700

    &-text
      margin: 0
      white-space: nowrap
      writing-mode: vertical-rl
      transform: rotate(180deg)
  
  &__social
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end

    &-link
      display: block
      height: 60px
      width: 60px
      margin-top: 20px
      margin-bottom: 20px

      text-align: center
      line-height: 60px

      border: 1px solid #ffffff
      border-radius: 50%

    &-icon
      font-size: 20px

  &__main
    flex-basis: auto
    text-align: center

  &__title
    position: relative

    font-family: 'Banny Round'
    font-size: 96px
    line-height: 125%
    font-weight: 400
    margin: 0
    margin-bottom: 45px

    &::after
      content: ''
      position: absolute
      bottom: -15px
      left: calc(50% - 30px)

      display: block
      height: 5px
      width: 60px

      background-color: $color-fill
      border-radius: 5px

  &__subtitle
    font-weight: 700
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.5em
    margin-top: 150px
    margin-bottom: 5px

  &__buttons
    margin-bottom: 90px

  &__button
    display: inline-block
    height: 60px
    width: 200px
    margin-right: 20px
    margin-left: 20px

  &__scroll
    display: inline-block

// HEADER END

// TEAM START

.team
  padding-bottom: 100px

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/team-bg.jpg')
  background-repeat: no-repeat
  background-size: cover

// TEAM END

// BOOKING START

.booking
  &__form
    max-width: 565px
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 10px
    
  &__submit
    grid-column: span 2

  &__caption
    margin-top: 40px
    margin-bottom: 20px


// BOOKING END

// SPECIALTIES START

.specialties
  padding-bottom: 45px

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/specialties-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: 50%
  &__heading
    margin-top: 40px
    margin-bottom: 20px

// SPECIALTIES END

// SLIDER START

.slider
  &__indicators
    margin-top: 45px
    text-align: center

  &__indicator
    display: inline-block
    height: 10px
    width: 10px

    background-color: #ffffff
    cursor: pointer
    border-radius: 50%
    opacity: .5
    &:not(:first-child)
      margin-left: 20px
    &_active
      opacity: 1

// SLIDER END

// MENU START

.menu
  &__subtitle
    margin-top: 30px
    margin-bottom: 50px
  
  &__categories
    display: flex
    justify-content: center
    margin-bottom: 50px
    
  &__category
    display: inline-block
    max-width: 120px
    width: 100%

    color: #333333
    font-weight: 700
    font-size: 12px
    line-height: 50px
    text-align: center

    &:not(:last-child)
      border-right: 1px solid rgba(51, 51, 51, .2)

  &__grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px 90px
    
    &-item
      display: grid
      grid-template-columns: 3fr 1fr
  
  &__position,
  &__price
    font-family: 'Banny Round'
    font-size: 18px
    font-weight: 700

  &__description
    grid-column: span 2
    font-size: 12px
    color: rgba(0, 0, 0, .5)

    

// MENU END 