doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Hungry people
    link(
      rel="stylesheet"
      href="main.css"
      )
  body
    header.header
      .container
        .mobile.js-menu
          .mobile__menu
            ul.header__list.header__list_mobile
              li.header__item 
                a.header__link(href="#!") HOME
              li.header__item 
                a.header__link(href="#about") ABOUT
              li.header__item 
                a.header__link(href="#team") TEAM
              li.header__item 
                a.header__link(href="#booking") BOOKING
              li.header__item 
                a.header__link(href="#menu") MENU
              li.header__item 
                a.header__link(href="#gallery") GALERIE
              li.header__item 
                a.header__link(href="#events") EVENTS
              li.header__item 
                a.header__link(href="#contact") CONTACT
            ul.mobile__social
              li.mobile__social-link
                a(href="#!") <i class="fab fa-facebook-f"></i>
              li.mobile__social-link
                a(href="#!") <i class="fab fa-twitter"></i>
              li.mobile__social-link
                a(href="#!") <i class="fab fa-instagram"></i>

        .header__top
          nav.header__nav
            ul.header__list
              li.header__item 
                a.header__link(href="#!") HOME
              li.header__item 
                a.header__link(href="#about") ABOUT
              li.header__item 
                a.header__link(href="#team") TEAM
              li.header__item 
                a.header__link(href="#booking") BOOKING
    
          .header__logo
            img.header__img(src="img/svg/logo.svg")
    
          nav.header__nav
            ul.header__list
              li.header__item 
                a.header__link(href="#menu") MENU
              li.header__item 
                a.header__link(href="#gallery") GALERIE
              li.header__item 
                a.header__link(href="#events") EVENTS
              li.header__item 
                a.header__link(href="#contact") CONTACT

          .mobile__btn.js-menuBtn
            .mobile__line
            .mobile__line
            .mobile__line

        .header__content
          .header__schedule 
            p.header__schedule-text Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
          .header__main
            p.header__subtitle  RESTAURANT
            h1.header__title HUNGRY PEOPLE
            .header__buttons
              a.header__button.header__button_fill.button.button_fill(href="#booking") BOOK TABLE
              a.header__button.button.button_o.hover_social(href="#about") EXPLORE
            a.header__scroll.scroll-btn.hover_scroll(href="#about")
              .scroll-btn__inner
                i.fas.fa-chevron-down
          .header__social
            a.header__social-link.hover_social(href="#!")
              i.fab.fa-facebook-f.header__social-icon
            a.header__social-link.hover_social(href="#!")
              i.fab.fa-twitter.header__social-icon
            a.header__social-link.hover_social(href="#!")
              i.fab.fa-instagram.header__social-icon

    section#about.about
      .container
        .grid-container
          .grid-left
            h3.about__title.title ABOUT US
            p.about__subtitle.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.about__text.text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
          .grid-right
            .about__picture.picture.picture-decor.picture-decor_right
              img.about__img.img(src="img/about-pic.jpg")

    // TEAM
    section#team.team
      .container
        h2.team__heading.heading.color_light OUR TEAM
        .grid-container
          .grid-left
            .team__picture.picture.picture-decor.picture-decor_left
              img.team__img.img(src="img/team-pic.jpg")
            
          .grid-right
            h3.team__title.title.color_light MASTER CHEF
            p.team__subtitle.subtitle.color_light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.team__text.text.color_light Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
    
    // BOOKING
    section#booking.booking
      .container
        .grid-container
          .grid-left
            h3.booking__title.title BOOK A TABLE
            input#booking__unwrap.unwrap__checkbox(type="checkbox")
            label.button.button_fill.booking__unwrap.unwrap__label(for="booking__unwrap") UNWRAP
            form.booking__form.unwrap__target(action="#!")
              input.booking__input.input(type="text" placeholder="Name")
              input.booking__input.input(type="text" placeholder="Email")
              input.booking__input.input(type="text" placeholder="Phone")
              input.booking__input.input(type="text" placeholder="People")
              input.booking__input.input(type="text" placeholder="Date (mm/dd)")
              input.booking__input.input(type="text" placeholder="Time")
              button.booking__submit.button.button_fill BOOK NOW
              
          .grid-right
            .booking__picture.picture.picture-decor.picture-decor_right
              img.booking__img.img(src="img/booking-pic.jpg")
        p.booking__caption.caption Mon - Fri: <span class="bold">8PM - 10PM</span>, Sat - Sun: <span class="bold">8PM - 3AM</span>, Phone: <span class="bold">+40 729 131 637/+40 726 458 782</span>

    // SPECIALTIES
    section.specialties
      .container
        h2.specialties__heading.heading.color_light SPECIALTIES
        .grid-container
          .grid-left
            .specialties__picture.picture.picture-decor.picture-decor_left
              img.specialties__img.img(src="img/specialties-pic.jpg")
          .grid-right
            h3.specialties__title.title.color_light CHOCOLATE PANCAKES
            p.specialties__subtitle.subtitle.color_light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.specialties__text.text.color_light Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
        ul.slider__indicators
          li.slider__indicator
          li.slider__indicator.slider__indicator_active
          li.slider__indicator

    //MENU
    section#menu.menu
      .container
        .menu__top
          h3.menu__title.title DELICIOUS MENU
          p.menu__subtitle.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
          .menu__download.button.button_fill DOWNLOAD PDF
          .menu__categories
            a.menu__category(href="#!") SOUPE
            a.menu__category(href="#!") PIZZA
            a.menu__category(href="#!") PASTA
            a.menu__category(href="#!") DESERT
            a.menu__category(href="#!") WINE
            a.menu__category(href="#!") BEER
            a.menu__category(href="#!") DRINKS

        .menu__grid
          mixin menu-item
            .menu__grid-item
              .menu__position PIZZA QUATRO STAGIONI  . . . .
              .menu__price 55,68 USD
              .menu__description Integer ullamcorper neque eu purus euismod
          - for (var i = 0; i < 3 * 7; i++)
            +menu-item 
          
    //EVENTS
    section#events.events
      .container
        h2.events__heading.heading.color_light PRIVATE EVENTS
        .grid-container
          .grid-left
            .events__picture.picture.picture-decor.picture-decor_left
              .events__event.events__event_right WEDDINGS
              img.events__img.img(src="img/events-img-1.jpg")
          .grid-right
            .events__picture.picture.picture-decor.picture-decor_right
              .events__event.events__event_left CORPORATE PZRTIES
              img.events__img.img(src="img/events-img-2.jpg")
        p.events__caption.caption.color_light For private events please call: <span class="bold">+40 729 131 637/+40 726 458 782</span> or use the contact form.

    section#gallery.gallery
      - for (var i = 1; i <= 4; i++)
        - var imgsrc = 'img/gallery-img-' + i + '.jpg' 
        img(src=imgsrc).gallery__img

    //CONTACT
    section#contact.contact
      .container
        h3.contact__title.title CONTACT
        p.contact__subtitle.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
        //a.button.button_fill.contact__unwrap.js-unwrap(href="#!") UNWRAP
        //form.contact__form

        input#contact__unwrap.unwrap__checkbox(type="checkbox")
        label.button.button_fill.contact__unwrap.unwrap__label(for="contact__unwrap") UNWRAP
        form.contact__form.unwrap__target(action="#!")
          input(type="text" placeholder="Name").contact__input.input
          input(type="text" placeholder="Email").contact__input.input
          input(type="text" placeholder="Phone").contact__input.input
          textarea(placeholder="Message").contact__textarea.input
          .contact__contacts.caption.bold
            p.contact__contact <i class="fas fa-map-marker-alt accent"></i> 5th London Boulevard, U.K.
            p.contact__contact <i class="fas fa-phone accent"></i> <a href="tel:+40729131637">+40 729 131 637</a>/<a href="tel:+40726458782">+40 726 458 782</a>
            p.contact__contact <i class="fas fa-envelope accent"></i> <a href="mailto:office@mindblister.com">office@mindblister.com</a>
 

            //|  <span class="contact__contact"><i class="fas //fa-map-marker-alt accent"></i> 5th London //Boulevard, U.K.</span>
            //|  <span class="contact__contact"><i class="fas //fa-phone accent"></i> +40 729 131 637/+40 726 458 //782</span>
            //|  <span class="contact__contact"><i class="fas //fa-envelope accent"></i> office@mindblister.com</span>
          .contact__button.button.button_fill SEND MESSAGE

    //MAP
    section.map
    //GOOGLE/YANDEX MAPS HERE

    //SCRIPTS
    script(src="main.js")

    //FOOTER
    footer.footer
      p.footer__copyright © Copyright <span class="bold">Mindblister</span>  2019

    // scripts          
    script(src="https://kit.fontawesome.com/091e2c3823.js" crossorigin="anonymous")        