doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(
      rel="stylesheet"
      href="main.css"
      )
  body
    header.header
      .container
        .header__top
          nav.header__nav
            ul.header__list
              li.header__item 
                a.header__link(href="#!") HOME
              li.header__item 
                a.header__link(href="#!") ABOUT
              li.header__item 
                a.header__link(href="#!") TEAM
              li.header__item 
                a.header__link(href="#!") BOOKING
    
          .header__logo
            img.header__img(src="img/svg/logo.svg")
    
          nav.header__nav
            ul.header__list
              li.header__item 
                a.header__link(href="#!") MENU
              li.header__item 
                a.header__link(href="#!") GALERIE
              li.header__item 
                a.header__link(href="#!") EVENTS
              li.header__item 
                a.header__link(href="#!") CONTACT
        .header__content
          .header__schedule 
            p.header__schedule-text Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
          .header__main
            p.header__subtitle  RESTAURANT
            h1.header__title HUNGRY PEOPLE
            .header__buttons
              a.header__button.header__button_fill.button.button_fill(href="#!") BOOK TABLE
              a.header__button.button.button_o(href="#!") EXPLORE
            a.header__scroll(href="#!")
              i.fas.fa-chevron-down.header__scroll-icon
          .header__social
            a.header__social-link(href="#!")
              i.fab.fa-facebook-f.header__social-icon
            a.header__social-link(href="#!")
              i.fab.fa-twitter.header__social-icon
            a.header__social-link(href="#!")
              i.fab.fa-instagram.header__social-icon

    section.about
      .container
        .grid-container
          .grid-left
            h3.about__title.title ABOUT US
            p.about__subtitle.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.about__text.text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
          .grid-right
            .about__picture.picture.picture-decor.picture-decor_right
              img.about__img.img(src="img/about-pic.jpg")

    // TEAM
    section.team
      .container
        h2.team__heading.heading.color_light OUR TEAM
        .grid-container
          .grid-left
            .team__picture.picture.picture-decor.picture-decor_left
              img.team__img.img(src="img/team-pic.jpg")
            
          .grid-right
            h3.team__title.title.color_light MASTER CHEF
            p.team__subtitle.subtitle.color_light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.team__text.text.color_light Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
    
    // BOOKING
    section.booking
      .container
        .grid-container
          .grid-left
            h3.booking__title.title BOOK A TABLE
            form.booking__form(action="#!")
              input.booking__input.input(type="text" placeholder="Name")
              input.booking__input.input(type="text" placeholder="Email")
              input.booking__input.input(type="text" placeholder="Phone")
              input.booking__input.input(type="text" placeholder="People")
              input.booking__input.input(type="text" placeholder="Date (mm/dd)")
              input.booking__input.input(type="text" placeholder="Time")
              button.booking__submit.button.button_fill BOOK NOW
              
          .grid-right
            .booking__picture.picture.picture-decor.picture-decor_right
              img.booking__img.img(src="img/booking-pic.jpg")
        p.booking__caption.caption Mon - Fri: <span class="bold">8PM - 10PM</span>, Sat - Sun: <span class="bold">8PM - 3AM</span>, Phone: <span class="bold">+40 729 131 637/+40 726 458 782</span>

    // SPECIALTIES
    section.specialties
      .container
        h2.specialties__heading.heading.color_light SPECIALTIES
        .grid-container
          .grid-left
            .specialties__picture.picture.picture-decor.picture-decor_left
              img.specialties__img.img(src="img/specialties-pic.jpg")
          .grid-right
            h3.specialties__title.title.color_light CHOCOLATE PANCAKES
            p.specialties__subtitle.subtitle.color_light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.specialties__text.text.color_light Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
        ul.slider__indicators
          li.slider__indicator
          li.slider__indicator.slider__indicator_active
          li.slider__indicator
    // scripts          
    script(src="https://kit.fontawesome.com/091e2c3823.js" crossorigin="anonymous")        