doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(
      rel="stylesheet"
      href="main.css"
      )
  body
    header.header
      .container
        .header__top
          nav.header__nav
            ul.header__list
              li.header__item 
                a.header__link(href="#!") HOME
              li.header__item 
                a.header__link(href="#!") ABOUT
              li.header__item 
                a.header__link(href="#!") TEAM
              li.header__item 
                a.header__link(href="#!") BOOKING
    
          .header__logo
            img.header__img(src="img/svg/logo.svg")
    
          nav.header__nav
            ul.header__list
              li.header__item 
                a.header__link(href="#!") MENU
              li.header__item 
                a.header__link(href="#!") GALERIE
              li.header__item 
                a.header__link(href="#!") EVENTS
              li.header__item 
                a.header__link(href="#!") CONTACT
        .header__content
          .header__schedule 
            p.header__schedule-text Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
          .header__main
            p.header__subtitle  RESTAURANT
            h1.header__title HUNGRY PEOPLE
            .header__buttons
              a.header__button.header__button_fill(href="#!") BOOK TABLE
              a.header__button(href="#!") EXPLORE
            a.header__scroll(href="#!")
              i.fas.fa-chevron-down.header__scroll-icon
          .header__social
            a.header__social-link(href="#!")
              i.fab.fa-facebook-f.header__social-icon
            a.header__social-link(href="#!")
              i.fab.fa-twitter.header__social-icon
            a.header__social-link(href="#!")
              i.fab.fa-instagram.header__social-icon

    section.about
      .container
        .grid-container
          .grid-left
            h3.about__title.title ABOUT US
            p.about__subtitle.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.about__text.text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
          .grid-right
            .about__picture.picture.picture-decor.picture-decor_right
              img.about__img.img(src="img/about-pic.jpg")

    section.team
      .container
        h2.team__heading.heading.color_light OUR TEAM
        .grid-container
          .grid-left
            .team__picture.picture.picture-decor.picture-decor_left
              img.team__img.img(src="img/team-pic.jpg")
            
          .grid-right
            h3.team__title.title.color_light MASTER CHEF
            p.team__subtitle.subtitle.color_light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.team__text.text.color_light Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.

            

    // scripts          
    script(src="https://kit.fontawesome.com/091e2c3823.js" crossorigin="anonymous")        