doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(
      rel="stylesheet"
      href="main.css"
      )
  body
    header.header
      .container
        .header__top
          nav.header__nav
            ul.header__list
              li.header__item 
                a.header__link(href="#!") HOME
              li.header__item 
                a.header__link(href="#!") ABOUT
              li.header__item 
                a.header__link(href="#!") TEAM
              li.header__item 
                a.header__link(href="#!") BOOKING
    
          .header__logo
            img.header__img(src="img/svg/logo.svg")
    
          nav.header__nav
            ul.header__list
              li.header__item 
                a.header__link(href="#!") MENU
              li.header__item 
                a.header__link(href="#!") GALERIE
              li.header__item 
                a.header__link(href="#!") EVENTS
              li.header__item 
                a.header__link(href="#!") CONTACT
        .header__content
          .header__schedule 
            p.header__schedule-text Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
          .header__main
            p.header__subtitle  RESTAURANT
            h1.header__title HUNGRY PEOPLE
            .header__buttons
              a.header__button.header__button_fill(href="#!") BOOK TABLE
              a.header__button(href="#!") EXPLORE
            a.header__scroll(href="#!")
              i.fas.fa-chevron-down.header__scroll-icon
          .header__social
            a.header__social-link(href="#!")
              i.fab.fa-facebook-f.header__social-icon
            a.header__social-link(href="#!")
              i.fab.fa-twitter.header__social-icon
            a.header__social-link(href="#!")
              i.fab.fa-instagram.header__social-icon
    script(src="https://kit.fontawesome.com/091e2c3823.js" crossorigin="anonymous")        